
<md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
            <span ui-sref="home">Bilbo</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary" ui-sref="host">Become a Host</md-button>
    </div>
</md-toolbar>
<md-content>
    <img src="components/img/kalcit4.jpg" width="100%">
    <div class="container-web detail-room">
        <div layout="row" layout-padding="">
            <div flex="40">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <div layout="row">
                                <div flex>
                                    <h2 style="color: white; ">Rp. 250.000</h2>
                                </div>
                                <div flex>
                                    <h3 style="color: white; text-align: right; line-height: 1px;;">per night</h3>
                                </div>
                            </div>

                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h2>Standart Room</h2>
                        <h3>Kalibata City</h3>
                        <div layout="row">
                            <div flex>
                                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkin">
                                </md-datepicker>
                            </div>
                            <div flex>
                                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkout">
                                </md-datepicker>
                            </div>
                        </div>
                        <br>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex>
                                <p>Rp. 250.000 x 1 night</p>
                            </div>
                            <div flex style="text-align: right">
                                <p>Rp. 250.000</p>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex>
                                <p>Service Fee</p>
                            </div>
                            <div flex style="text-align: right">
                                <p>Rp. 25.000</p>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex>
                                <p>Total</p>
                            </div>
                            <div flex style="text-align: right">
                                <p>Rp. 225.000</p>
                            </div>
                        </div>
                        <md-divider></md-divider>



                    </md-card-content>

                </md-card>
            </div>
            <div flex>
                <h2>Basic Info</h2>
                <md-divider></md-divider>
                <md-input-container class="md-block" >
                    <label>Full Name</label>
                    <input>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>Email Address</label>
                    <input>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>Phone</label>
                    <input>
                </md-input-container>
                <br>
                <h2>Payment Info</h2>
                <md-divider></md-divider>
                <md-input-container class="md-block" >
                    <label>Name On The Card</label>
                    <input>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>Card Number</label>
                    <input>
                </md-input-container>
                <p style="line-height: 0px;">Expiration</p>
                <div layout="row">

                    <div flex>
                        <div layout="row">
                            <div flex>
                            <md-input-container>
                                <label>Month</label>
                                <md-select ng-model="ctrl.userState">
                                    <md-option >
                                        Januari
                                    </md-option>
                                    <md-option >
                                        Februari
                                    </md-option>
                                    <md-option >
                                        Maret
                                    </md-option>
                                    <md-option >
                                        April
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                            <div flex>
                                <md-input-container>
                                    <label>Year</label>
                                    <md-select ng-model="ctrl.userState">
                                        <md-option >
                                            2016
                                        </md-option>
                                        <md-option >
                                            2017
                                        </md-option>
                                        <md-option >
                                            2018
                                        </md-option>
                                        <md-option >
                                            2019
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                    <div flex="30">
                        <md-input-container class="md-block" >
                            <label>CVC</label>
                            <input>
                        </md-input-container>
                    </div>
                </div>

                    <br>
                <md-button class="md-raised md-primary" style="width: 100%">Booking</md-button>
                <br>
            </div>

        </div>

    </div>

</md-content>
