<md-toolbar>
    <div class="md-toolbar-tools">
       
        <h2>
            <span>Bilbo</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary" ui-sref="host">Become a Host</md-button>

    </div>
</md-toolbar>
<md-content>
    <div class="container-web">
        <h3 class="headline">Where are you going?</h3>
        <div layout="row" layout-sm="column" class="search">
            <div flex>
                <md-input-container>
                    <label>Location</label>
                    <input >
                </md-input-container>
            </div>
            <div flex>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkin">
                </md-datepicker>

            </div>
            <div flex>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkout">
                </md-datepicker>
            </div>
            <div flex>
                <md-button class="md-raised md-primary" ui-sref="findApartment"style="    width: 100%;
    margin-top: 15px;">Search</md-button>

            </div>
        </div>
        <md-list>
        <md-list-item >

        <div class="md-list-item-text" layout="column">
        <div layout="row" layout-padding="">
        <dif flex="40">
        <img src="./components/img/kalcit.jpg" width="100%" height="100%" ng-click="">
        </dif>
        <dif flex class="list-detail">
        <h2 style="line-height: 2px;">Standart Room</h2>
        <h4>Jl. Kalibata Raya No.1, Rawa Jati, Pancoran, Daerah Khusus Ibukota Jakarta 12750</h4>


        <h2 style="line-height: 2px;">Rp. 250.000</h2>
        <md-button class="md-raised md-primary" ui-sref="detailRoom">Detail</md-button>
        </dif>
        </div>

        </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item >

        <div class="md-list-item-text" layout="column">
        <div layout="row" layout-padding="">
        <dif flex="40">
        <img src="./components/img/kalcit.jpg" width="100%" height="100%" ng-click="">
        </dif>
        <dif flex class="list-detail">
        <h2 style="line-height: 2px;">Standart Room</h2>
        <h4>Jl. Kalibata Raya No.1, Rawa Jati, Pancoran, Daerah Khusus Ibukota Jakarta 12750</h4>

        <h2 style="line-height: 2px;">Rp. 250.000</h2>
            <md-button class="md-raised md-primary" ui-sref="detailRoom">Detail</md-button>
        </dif>
        </div>

        </div>
        </md-list-item>


        </md-list>
        </div>

    </md-content>
