
<md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
            <span ui-sref="home">Bilbo</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary" ui-sref="host">Become a Host</md-button>
    </div>
</md-toolbar>
<md-content>
    <img src="components/img/kalcit4.jpg" width="100%">
    <div class="container-web detail-room">
        <div layout="row" layout-padding="">
            <div flex>
                <h2>Standart Room</h2>
                <h3>Kalibata City</h3>
                <p class="address">Jl. Kalibata Raya No.1, Rawa Jati, Pancoran, Daerah Khusus Ibukota Jakarta 12750</p>
                <md-divider></md-divider>
                <p>With bilbo, you can find unique accommodations in people's homes—from houses and apartments, to tree houses and igloos. The listing details below explain what you'll find in this space. If you have any questions, you can contact the host directly.</p>
                <md-divider></md-divider>
                <h3>Amenties</h3>
               <p class="line-through"> <ng-md-icon icon="desktop_windows" style="fill:grey" size="20" class="icon-description"></ng-md-icon>Cable Tv</p>
                <p> <ng-md-icon icon="restaurant_menu" style="fill:grey" size="20" class="icon-description"></ng-md-icon>Kitchen</p>
                <p> <ng-md-icon icon="signal_wifi_4_bar" style="fill:grey" size="20" class="icon-description"></ng-md-icon>Internet</p>
                <md-divider></md-divider>
                <h3>Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15864.907559158255!2d106.78835315!3d-6.23379385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1447234888397" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
            <div flex="30">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <h2 style="color: white;">Rp. 250.000/night</h2>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                            <div flex>
                                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkin">
                                </md-datepicker>
                            </div>
                            <div flex>
                                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkout">
                                </md-datepicker>
                            </div>
                        </div>



                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" style="width: 100%" ui-sref="payment">Booking</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>

</md-content>
