@media (min-width: 960px){
    .container-web {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
}
.container-web h3.headline{
    text-align: center;
    color: grey;
}
.md-datepicker-button {
    display: none;
    box-sizing: border-box;
    background: none;
}
.search .md-datepicker-input-container {
    width:95%;
    margin-top:25px;
}
.md-datepicker-input-container {
    width:95%;
}
md-list-item.md-3-line .md-list-item-text{
    margin-left: 10px;
    margin-top: 50px;
}
.list-detail p{
    color: grey;
    font-weight: 300;
}
.list-detail h4{
    font-weight: 400;
}
.img-thumb{
    position: absolute;
    left: 0px;
}
.thumb h3{
    z-index: 9;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #444444;
}
.thumb p{
    z-index: 9;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px #444444;
}
.thumb h4{
    font-size: 1.3em;
    font-weight: 700;
    text-align: right;
}
.icon-input{
    margin-top: 23px;
    fill: grey;
    /* padding-top: 10px; */
    position: absolute;
    /* top: 10px; */
}
.icon-select{
    padding-right: 20px;
}

md-grid-list md-grid-tile md-grid-tile-header, md-grid-list md-grid-tile md-grid-tile-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    color: #fff;
    float: right;
    background: #ff5a5f;
    overflow: hidden;
    position: absolute;
    right: 0;
}
md-input-container {
    padding-bottom: 0px;
}
md-list-item, md-list-item .md-list-item-inner {
    padding:0px;
}
.host-menu{
    position: fixed;
    background: #F5F5F5;
    height: 100%;
    width: 15%;
}
.toolbar-fixed{
    position: fixed;
}
.toolbar-fixed-md-content{
    padding-top: 60px;
}
.host-input{
    margin-left: 17%;
}
.host-list-icon{
    fill:grey;
    margin-left: -10px;
    margin-right: 5px;
    margin-top: 3px;

}
md-list-item.active{
    background: #EEEEEE;
}
md-list-item p{
    cursor: pointer;
}
.host-input h2{
    color:grey;
}
.host-input p{
    color: grey;
    font-weight: 300;

}
.detail-room h2{
    line-height: 5px;
    color: #757575;
    font-weight: 600;
}
.detail-room .md-datepicker-input-container{
    margin-left: 0px;
    
}
.detail-room h3{
    line-height: 15px;
    color: #757575;
    font-weight: 400;
}
.detail-room .address{
    line-height: 10px;
    font-weight: 200;
    color: #757575;
}
.detail-room .line-through{
    text-decoration: line-through;
}
.detail-room p{

    color: #757575;
}
.icon-description{
    padding-right: 10px;
    padding-top:5px;
}
md-card-title{
    background: #757575;
    color: white;
    padding: 10px;
}
md-card-title p{
    color: white;
    padding: 10px;
}