<md-toolbar class="toolbar-fixed">
    <div class="md-toolbar-tools ">
        <h2>
            <span ui-sref="home">Bilbo</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-content class="toolbar-fixed-md-content">
    <div layout="row">
        <div flex="20" class="host-menu">
            <md-list>
                <md-list-item >
                    <ng-md-icon icon="location_city" class="host-list-icon " size="24" ></ng-md-icon>
                    <p  ui-sref="host">Basics</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>

                <md-list-item >
                    <ng-md-icon icon="place" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-location">Location</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item  >
                    <ng-md-icon icon="tv" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-amenities">Amenities</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item  class="active">
                    <ng-md-icon icon="image" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-photos">Photos</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item >
                    <ng-md-icon icon="local_atm" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-pricing">Pricing</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
            </md-list>

        </div>


        <div flex class="host-input">

            <h2>Photos can bring your space to life</h2>
            <p>Add photos of areas guests have access to. You can always come back later and add more.</p>
            <md-divider></md-divider>
            <br>
            <input type="file"><br>
            <md-button class="md-primary" style="text-transform: lowercase; " >Add more photos</md-button>

            <br>
            <md-button class="md-raised md-primary" style="float: right" ui-sref="host-pricing"> Next</md-button>


        </div>
        <div flex="20">

        </div>
    </div>
    <br><br><br><br>
</md-content>
