<md-toolbar class="toolbar-fixed">
    <div class="md-toolbar-tools ">

        <h2>
            <span ui-sref="home">Bilbo</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-content class="toolbar-fixed-md-content">
    <div layout="row">
        <div flex="20" class="host-menu">
            <md-list>
                <md-list-item >
                    <ng-md-icon icon="location_city" class="host-list-icon " size="24" ></ng-md-icon>
                    <p  ui-sref="host">Basics</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>

                <md-list-item  >
                    <ng-md-icon icon="place" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-location">Location</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item  >
                    <ng-md-icon icon="tv" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-amenities">Amenities</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item >
                    <ng-md-icon icon="image" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-photos">Photos</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
                <md-list-item class="active">
                    <ng-md-icon icon="local_atm" class="host-list-icon" size="24" ></ng-md-icon>
                    <p ui-sref="host-pricing">Pricing</p>
                    <ng-md-icon icon="chevron_right" style="fill:grey" size="28" ></ng-md-icon>
                </md-list-item>
            </md-list>

        </div>


        <div flex class="host-input">

            <h2>Set a nightly price for your space</h2>
            <p>You can set a price to reflect the space, amenities, and hospitality you’ll be providing.</p>
            <md-divider></md-divider>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Currency</label>
                <md-select  ng-model="ctrl.userState">
                    <md-option >
                        IDR
                    </md-option>
                    <md-option >
                        USD
                    </md-option>

                </md-select>
            </md-input-container>
            <md-input-container class=" md-block">

                <label>Nightly Price</label>

                <input  type="text">
            </md-input-container>


            <br>
            <md-button class="md-raised md-primary" style="float: right"> Finish</md-button>

        </div>
        <div flex="20">

        </div>
    </div>
    <br><br><br><br>
</md-content>
