<md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-content layout-padding>


    <md-list>
        <md-list-item>
            <a ui-sref="find-apartement" style="text-decoration: none;color: black;">HOME</a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a ui-sref="login" style="text-decoration: none;color: black;">LOGIN</a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a ui-sref="host" style="text-decoration: none;color: black;">HOST</a>
        </md-list-item>
        <md-divider></md-divider>

    </md-list>
    </md-content>
</md-sidenav>
