
<md-toolbar>
    <div class="md-toolbar-tools">
       
        <h2>
            <span>Bilbo</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary" ui-sref="host">Become a Host</md-button>

    </div>
</md-toolbar>
<md-content>
    <div class="container-web">
        <h3 class="headline">Where are you going?</h3>
        <div layout="row" layout-sm="column" class="search">
            <div flex>
                <md-input-container>
                    <label>Location</label>
                    <input >
                </md-input-container>
            </div>
            <div flex>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkin">
                </md-datepicker>

            </div>
            <div flex>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="checkout">
                </md-datepicker>
            </div>
            <div flex>
                <md-button class="md-raised md-primary" ui-sref="findApartment"style="    width: 100%;
    margin-top: 15px;">Search</md-button>

            </div>
        </div>

    </div>
    <div layout="row" layout-padding>
        <div flex="60">
            <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="12px"
                          md-gutter-gt-sm="8px">
                <md-grid-tile  md-rowspan="1" md-colspan="2" md-colspan-sm="1" class="thumb" ui-sref="chooseRoom">
                    <img src="./components/img/kalcit.jpg" width="100%" height="100%" class="img-thumb"ng-click="">
                    <h3>kalibata City</h3>
                    <br>
                    <md-grid-tile-footer>
                        <h4><span style="font-weight: 100;">start from</span> RP. 250.000</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile  md-rowspan="1" md-colspan="2" md-colspan-sm="1" class="thumb">
                    <img src="./components/img/cityloft.jpg" width="100%" height="100%" class="img-thumb"ng-click="">
                    <h3>Cityloft Apartment</h3>
                    <br>
                    <md-grid-tile-footer>
                        <h4><span style="font-weight: 100;">start from</span> RP. 250.000</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile  md-rowspan="1" md-colspan="2" md-colspan-sm="1" class="thumb">
                    <img src="./components/img/kalcit.jpg" width="100%" height="100%" class="img-thumb"ng-click="">
                    <h3>kalibata City</h3>
                    <br>
                    <md-grid-tile-footer>
                        <h4><span style="font-weight: 100;">start from</span> RP. 250.000</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile  md-rowspan="1" md-colspan="2" md-colspan-sm="1" class="thumb">
                    <img src="./components/img/cityloft.jpg" width="100%" height="100%" class="img-thumb"ng-click="">
                    <h3>Cityloft Apartment</h3>
                    <br>
                    <md-grid-tile-footer>
                        <h4><span style="font-weight: 100;">start from</span> RP. 250.000</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>
        </div>
        <div flex>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15864.907559158255!2d106.78835315!3d-6.23379385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1447234888397" width="100%" height="100%" frameborder="0" style="border:0; position:fixed" allowfullscreen>
            </iframe>

        </div>
    </div>

</md-content>
